In [21]:
import pandas

In [22]:
data = pandas.read_csv("heart.csv")

In [23]:
data = data.drop("target",axis=1)
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3

In [24]:
data = pandas.get_dummies(data,columns=['cp','restecg','slope','ca','thal'],drop_first=True)

In [25]:
data

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,cp_1,cp_2,...,restecg_2,slope_1,slope_2,ca_1,ca_2,ca_3,ca_4,thal_1,thal_2,thal_3
0,52,1,125,212,0,168,0,1.0,0,0,...,0,0,1,0,1,0,0,0,0,1
1,53,1,140,203,1,155,1,3.1,0,0,...,0,0,0,0,0,0,0,0,0,1
2,70,1,145,174,0,125,1,2.6,0,0,...,0,0,0,0,0,0,0,0,0,1
3,61,1,148,203,0,161,0,0.0,0,0,...,0,0,1,1,0,0,0,0,0,1
4,62,0,138,294,1,106,0,1.9,0,0,...,0,1,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,140,221,0,164,1,0.0,1,0,...,0,0,1,0,0,0,0,0,1,0
1021,60,1,125,258,0,141,1,2.8,0,0,...,0,1,0,1,0,0,0,0,0,1
1022,47,1,110,275,0,118,1,1.0,0,0,...,0,1,0,1,0,0,0,0,1,0
1023,50,0,110,254,0,159,0,0.0,0,0,...,0,0,1,0,0,0,0,0,1,0
1024,54,1,120,188,0,113,0,1.4,0,0,...,0,1,0,1,0,0,0,0,0,1

In [28]:
data1 = [[58,0,100,248,0,122,0,1,0,0,0,0,0,1,0,1,0,0,0,0,1,0]]

In [30]:
data1 = pandas.DataFrame(data1,columns=['age', 'sex', 'trestbps', 'chol', 'fbs', 'thalach', 'exang', 'oldpeak',
       'cp_1', 'cp_2', 'cp_3', 'restecg_1', 'restecg_2', 'slope_1', 'slope_2',
       'ca_1', 'ca_2', 'ca_3', 'ca_4', 'thal_1', 'thal_2', 'thal_3'])
data1

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,cp_1,cp_2,...,restecg_2,slope_1,slope_2,ca_1,ca_2,ca_3,ca_4,thal_1,thal_2,thal_3
0,58,0,100,248,0,122,0,1,0,0,...,0,1,0,1,0,0,0,0,1,0

In [33]:
data = pandas.concat([data,data1])

In [35]:
import joblib

scaler = joblib.load('scaler.save')

data=scaler.fit_transform(data)

In [36]:
req_data = data[-1]

In [40]:
model.predict([req_data])

array([1], dtype=int64)